<app-create-task
        *ngIf="showCreateTaskForm"
        (CloseForm)="CloseCreateTaskForm()"
(EmitTaskdata)="createTask($event)" [isEditmode]="editMode" [selectedTask]="selectedTasks"></app-create-task>

<div class="dashboard-container">
  <div style="text-align: center;color: blue;" *ngIf="allTask.length < 1">
    <h2>No Task has been yet!</h2>
  </div>
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click)="OpenCreateTaskForm()">Create Task</button>
            <button class="create-task-btn"(click)="FetchAllTaskClicked()">Featch Tasks</button>
            <button class="create-task-btn"(click)="DeleteAllTask()">Clear Tasks</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
            <div class="task-item" *ngFor="let item of allTask"  [ngClass]="'task-' + item.status">
                <div class="task-title">
                    <h3>{{item.title}}</h3>
                </div>
                <p><b>Assigned to: </b>{{item.assignedTo}}</p>
                <p><b>Priority: </b>{{item.priority}}</p>
                <p><b>Status: </b>{{item.status}}</p>
                <div class="task-action-icons">
                    <button class="task-action-btn" title="Detail">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                    <button class="task-action-btn" title="Edit" (click)="onEditTaskClicked(item.id)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button class="task-action-btn" title="Delete" (click)="DeleteTask(item.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
    </div>
</div>
